@model RestaurantManager.Web.Models.MenuItemFullViewModel
@using (Html.BeginForm("CreateOrEdit", "MenuItem"))
{
    <div class="col-lg-6">
        <div class="panel panel-default" style="padding: 0 20px">
            <form class="panel-body">
                @Html.HiddenFor(model => Model.Id)
                <div class="row">
                    <div class="form-group col-md-12">
                        <br />
                        @Html.LabelFor(m => Model.Name, "Име")
                        @Html.TextBoxFor(m => Model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => Model.Name, null, new { @class = "alert-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => Model.UnitTypeAmount, "Количество")
                        @Html.TextBoxFor(m => Model.UnitTypeAmount, new { @class = "form-control", type = "number", step = 50 })
                        @Html.ValidationMessageFor(m => Model.UnitTypeAmount, null, new { @class = "alert-danger" })
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.HiddenFor(model => Model.UnitTypeName)
                        @Html.LabelFor(m => Model.UnitTypeName, "Мерна единица")
                        <select class="single-select-unit-type">
                            <option></option>
                            @foreach (var item in Model.UnitTypesViewModel)
                            {                                
                                string selected = "";
                                if (item.Name == Model.UnitTypeName) {selected = "selected";}
                                <option id="@item.Id" @selected >@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.HiddenFor(model => Model.MenuItemTypeName)
                        @Html.LabelFor(m => Model.MenuItemTypeName, "Тип")
                        <select class="single-select-menu-item-type">
                            <option></option>
                            @foreach (var item in Model.MenuItemTypesViewModel)
                            {
                                string selected = "";
                                if (item.Name == Model.MenuItemTypeName) {selected = "selected";}
                                <option id="@item.Id" @selected >@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(m => Model.Price, "Цена")
                        @Html.TextBoxFor(m => Model.Price, new { @class = "form-control", type = "number", step = "0.1" })
                        @Html.ValidationMessageFor(m => Model.Name, null, new { @class = "alert-danger" })

                    </div>
                </div>
                <br>
                <div class="text-center form-group col-md-12">
                    <button type="submit" class="btn btn-success">Добави/Обнови</button>
                    <button type="submit" class="btn btn-danger">Изтрии</button>
                </div>
            </form>
        </div>
    </div>
}
